In [2]:
import numpy as np
import pandas as pd

In [4]:
houses = pd.read_csv("houses.csv")
houses.head(7)

   dim_1  dim_2   level   price
0     29     28  luxury  2212.0
1     28     29  luxury  2203.0
2      6      9   basic   254.0
3      5      9   basic   242.0
4      6      6   basic   195.0
5      5      8   basic   200.0
6     27     29  luxury  2108.0

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [7]:
X = houses[['dim_1',"dim_2"]]
Y = houses["level"]

cl = DecisionTreeClassifier().fit(X, Y)

In [9]:
print(export_text(cl))

|--- feature_0 <= 10.00
|   |--- class: basic
|--- feature_0 >  10.00
|   |--- feature_0 <= 25.00
|   |   |--- class: medium
|   |--- feature_0 >  25.00
|   |   |--- class: luxury

In [11]:
cl.predict(X[0:1])[0], Y[0]

('luxury', 'luxury')